/* .home-card {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin: 10px;
  padding: 5px;
  flex-grow: 1;
  width: 300px;
} */

.audit-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;
  margin: auto
}

label {
  padding-top: 1rem
}

