.audit-container {
  background-color: white;
  border: solid 2px black;
  border-radius: 2rem;
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  padding: 1.5rem
}

.audit-cards-container {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin-top: 0
}